@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.explore{
    margin-bottom: 4%;
}
.explore h1{
    color: black;
}
.explore p{
    color: grey;
}
.explore .content-explore h1,p{
    text-align: center;
    
}
.box-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 4%;
    
}
.img-menu img{
    width: 350px;
    border-radius: 20px;
}
.desc-menu{
    text-align: center;
    margin-top: 4%;
}
.desc-menu h3{
    color: black;
}
.desc-menu button{
    border: none;
    padding: 8px 25px;
    background-color: black;
    color: white;
    font-weight: 500;
    margin-top: 3%;
}
.desc-menu button:hover{
    color: black;
    background-color: #81d0e8;
    transition: 0.75s;
}

@media (min-width:320px) and (max-width:769px){
    .box-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-menu img{
        width: 100%;
    }
}